---
// Components
import Layout from "layouts/Layout.astro"
import Projects from "components/Projects.astro"
import HeroFinalists from "components/HeroFinalists.astro"
import Intro from "components/Intro.astro"
---

<Layout
  title="GOSIM AI Spotlight 2025"
  description="GOSIM AI Spotlight, where exceptional AI projects are showcased to the world."
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="Home"
>
  <HeroFinalists
    category="AI",
    date="May 6-7, 2025",
    location="Paris, France",
    tagline="Here are the 12 projects selected for the GOSIM AI Spotlight 2025"
  />
  <Intro>
    <h1 class="h3 light split-words animate-read">
      Congratulations to the 12 projects selected!
      <p></p>
      Come learn about their projects at the spotlight demo booths at <b>
        <a href="https://paris2025.gosim.org/">GOSIM AI Paris</a>.
      </b>Conference attendees can also listen to their lightning talks on <b
        ><a href="https://paris2025.gosim.org/schedule">May 6-7</a></b
      >.
    </h1>
  </Intro>
  <Projects />
</Layout>
