---
// Components
import Layout from "layouts/Layout.astro"
import Projects from "components/Projects.astro"
import HeroFinalists from "components/HeroFinalists.astro"
import Intro from "components/Intro.astro"
import TextAndImage from "components/TextAndImage.astro"
import SpotlightAi from "images/homepage/spotlight-badge-ai2025.png"
import projectsData from "json/Projects-ai2025.json"

const numProjs = projectsData.projects.length
---

<Layout
  title="GOSIM AI Spotlight 2025"
  description="GOSIM AI Spotlight, where exceptional AI projects are showcased to the world."
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="Home"
>
  <HeroFinalists
    category="AI"
    date="May 6-7, 2025"
    location="Paris, France"
    tagline={"Here are the " +
      numProjs +
      " projects selected for the GOSIM AI Spotlight 2025"}
    links={[
      {
        text: "Learn More →",
        link: "https://spotlight2025.gosim.org/ai2025",
        openInNewTab: true,
      },
    ]}
  />
  <Intro>
    <h1 class="h3 light split-words animate-read">
      Congratulations to the {numProjs} projects selected!
      <p></p>
      Come learn about their projects at the spotlight demo booths at <b>
        <a href="https://paris2025.gosim.org/">GOSIM AI Paris</a>.
      </b>Conference attendees can also listen to their lightning talks on <b
        ><a href="https://paris2025.gosim.org/schedule">May 6-7</a></b
      >.
    </h1>
  </Intro>
  <TextAndImage
    title="GOSIM AI Spotlight Finalists"
    text="Witness the future of technology first-hand through the GOSIM Spotlight initiative, highlighting exceptional innovations aligned with each conference track. This program showcases pioneering open-source projects that push boundaries, inspire creativity, and demonstrate real-world impact."
    image={SpotlightAi}
    imageAlt="Gosim Spotlight badge"
    dataBgSection="beige"
    dataThemeSection="light"
    ctaButton={{
      text: "Learn More",
      link: "https://spotlight2025.gosim.org/ai2025",
      openInNewTab: true,
    }}
  />
  <Projects projects={projectsData.projects} />
</Layout>
