---
// Components
import Layout from "layouts/Layout.astro";
import Hero from "components/Hero.astro";
import Intro from "components/Intro.astro";
import Tracks from "components/Tracks.astro";
import Cards from "components/Cards.astro";
import GetTickets from "components/GetTickets.astro";
import ProgramOverview from "components/ProgramOverview.astro";
import Timeline from "components/Timeline.astro";

// Images
import SpotlightBlue from "images/homepage/spotlight-badge-ai-2025.svg";
import GosimShanghai from "images/homepage/gosim-shanghai.png";
import GosimDelft from "images/homepage/gosim-delft.png";
import GosimBeijing from "images/homepage/gosim-beijing.png";
---

<Layout
  title="GOSIM Spotlight Hangzhou 2025"
  description="GOSIM Spotlight Hangzhou, where exceptional projects are showcased to the world."
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="Home"
>
  <Hero
    date="September 13-14, 2025"
    location="Hangzhou, China"
    links={[
      {
        text: "Nominate Project",
        link: "https://cfp.gosim.org/",
        openInNewTab: true,
      },
      {
        text: "Learn More",
        link: "#program-overview",
        openInNewTab: false,
      },
    ]}
  />
  <div
    class="section-wrap"
    id="intro"
    data-theme-section="light"
    data-bg-section="light"
  >
    <Intro>
      <h1 class="h3 light split-words animate-read">
        Are you building something revolutionary?
        <p></p>
        <b>GOSIM Hangzhou Spotlight</b>
        is your launchpad to the world! This program offers early-stage, global open-source
        projects a unique opportunity to shine at<p></p> GOSIM Hangzhou – China's
        premier open-source conference, taking place from Sep 13-14, 2025 in the
        city of Hangzhou, China.
      </h1>
    </Intro>
  </div>
  <ProgramOverview />
  <Tracks
    title="Participating in GOSIM Spotlight is a simple 3 step process"
    description="Each year, GOSIM Spotlight will shine on a handful of incredible projects, giving them the attention they deserve. Nominees will be judged by an independent judging panel made up of industry experts."
    list={[
      {
        title: "Apply or Nominate",
        text: `Submit Your Project/Paper/Model: Tell us about your innovative work and why it deserves to be seen by the world. Anyone can also nominate others' projects.`,
      },
      {
        title: "Evaluation",
        text: `Our panel of experts reviews the submissions, focusing on innovation, utility, and community impact.`,
      },
      {
        title: "Selection",
        text: `Selected projects/papers/models will be showcased at the GOSIM Hangzhou conference. They will also be featured on our website, newsletter, and social media channels, ensuring they reach a global audience.`,
      },
    ]}
    ctaButton={{
      text: "Apply Now",
      link: "https://cfp.gosim.org/",
    }}
  />
  <!--
  <Notify
    title="Try the GOSIM ticket lucky draw!"
    text="Join our Lucky Draw for a chance to unlock MASSIVE DISCOUNTS on your conference ticket!"
    buttons={[
      {
        text: "X (Twitter)",
        link: "https://x.com/gosimfoundation/status/1912744752925282408?s=46",
        openInNewTab: true,
      },
      {
        text: "LinkedIn",
        link: "https://www.linkedin.com/posts/gosim-foundation_opensource-paris-gosim-activity-7320228660119056384-8G0N/?utm_source=share&utm_medium=member_desktop&rcm=ACoAAADy6IEBVFnqXCcxI2wwmkLQxsENI_ltXOc",
        openInNewTab: true,
      },
    ]}
  />
   -->
  <Cards
    title="Why Apply?"
    description="Showcase your project to a global developer audience, gain mentorship from top experts, and present your project at GOSIM Hangzhou 2025 Spotlights. Selected teams receive travel grants, exclusive visibility, and access to a vibrant community of developers, collaborators, and contributors — all dedicated to advancing the open-source movement."
    cards={[
      {
        title: "Exclusive Showcase",
        description:
          "Showcase your project at a dedicated demo booth to global leaders, developers, and enthusiasts.",
        image: "/icons/showcase.svg",
      },
      {
        title: "Travel Support",
        description:
          "Win grants covering travel and accommodation for project owners or reps.",
        image: "/icons/travel-support.svg",
      },
      {
        title: "Mentorship & Resources",
        description:
          "Receive guidance from top experts and spotlight judges committed to supporting selected projects.",
        image: "/icons/mentorship.svg",
      },
      {
        title: "Global Visibility",
        description:
          "Present your project during GOSIM Hangzhou 2025 for exposure to a global tech audience.",
        image: "/icons/global-visibility.svg",
      },
      {
        title: "Networking & Recognition",
        description:
          "Connect with collaborators, developers, and industry leaders while gaining recognition in the open-source community.",
        image: "/icons/networking-recognition.svg",
      },
      {
        title: "Community Growth",
        description:
          "Attract contributors and establish your project as a leader in the open-source ecosystem.",
        image: "/icons/community-growth.svg",
      },
    ]}
  />
  <Timeline />
  <GetTickets
    title="Now accepting applications!"
    text="Know any project that deserves recognition? Don't wait - nominate it today and help us shine a spotlight on its potential. Or apply with your own project. Here are the important dates: Nominations opens on June 18, 2025, and close on August 18, 2025."
    ctaButton={{
      text: "Nominate Project",
      link: "https://cfp.gosim.org/",
      openInNewTab: true,
    }}
  />
</Layout>
