---
// Components
import Layout from "layouts/Layout.astro";
import Hero from "components/Hero.astro";
import Intro from "components/Intro.astro";
import Tracks from "components/Tracks.astro";
import Cards from "components/Cards.astro";
import TextAndImage from "components/TextAndImage.astro";
import TextAndSponsors from "components/TextAndSponsors.astro";
import PreviousEvents from "components/PreviousEvents.astro";
import GetTickets from "components/GetTickets.astro";
import ProgramOverview from "components/ProgramOverview.astro";

// Images
import SpotlightBlue from "images/homepage/spotlight-badge-ai-2025.svg";
import GosimShanghai from "images/homepage/gosim-shanghai.png";
import GosimDelft from "images/homepage/gosim-delft.png";
import GosimBeijing from "images/homepage/gosim-beijing.png";
---

<Layout
  title="GOSIM AI Paris 2025"
  description="GOSIM Paris, the City of Light, transforms into the City of Artificial Brilliance this May. GOSIM AI 2025 invites visionaries, disruptors, and pioneers to converge at Station F, a crucible of innovation, to shape the next frontier of AI."
  navDarkMode={true}
  navBackground="header-home"
  pageTransitionName="Home"
>
  <Hero
    date="September 13-14, 2025"
    location="Hangzhou, China"
    links={[
      {
        text: "Nominate Project",
        link: "",
        openInNewTab: true,
      },
      {
        text: "Learn More",
        link: "",
        openInNewTab: true,
      },
    ]}
  />
  <div
    class="section-wrap"
    id="intro"
    data-theme-section="light"
    data-bg-section="lightgray"
  >
    <Intro>
      <h1 class="h3 light split-words animate-read">
        Are you building something revolutionary related to AI? <b
          >GOSIM AI Spotlight</b
        > is your launchpad to the world! This program offers early-stage, global
        AI projects a unique opportunity to shine at GOSIM AI Paris – Europe’s premier
        AI conference, taking place from May 6-7, 2025 in the city of lights, Paris,
        France.
      </h1>
    </Intro>
  </div>
  <ProgramOverview />
  <Tracks
    title="Participating in GOSIM Spotlight is a simple 3 step process"
    description="Each year, GOSIM AI Spotlight will shine on a handful of incredible projects, giving them the attention they deserve. Nominees will be judged by an independent judging panel made up of industry experts."
    list={[
      {
        title: "Apply or Nominate",
        text: `Submit Your Project/Paper/Model: Tell us about your innovative AI work and why it deserves to be seen by the world. Anyone can also nominate others projects.`,
      },
      {
        title: "Evaluation",
        text: `Our panel of experts reviews the submissions, focusing on innovation, utility, and community impact.`,
      },
      {
        title: "Selection",
        text: `Selected projects/papers/models are featured on our website, newsletter, and social media channels, ensuring they reach a global audience.`,
      },
    ]}
    ctaButton={{
      text: "Apply Now",
      link: "",
    }}
  />
  <!--
  <Notify
    title="Try the GOSIM ticket lucky draw!"
    text="Join our Lucky Draw for a chance to unlock MASSIVE DISCOUNTS on your conference ticket!"
    buttons={[
      {
        text: "X (Twitter)",
        link: "https://x.com/gosimfoundation/status/1912744752925282408?s=46",
        openInNewTab: true,
      },
      {
        text: "LinkedIn",
        link: "https://www.linkedin.com/posts/gosim-foundation_opensource-paris-gosim-activity-7320228660119056384-8G0N/?utm_source=share&utm_medium=member_desktop&rcm=ACoAAADy6IEBVFnqXCcxI2wwmkLQxsENI_ltXOc",
        openInNewTab: true,
      },
    ]}
  />
   -->
  <Cards
    title="Why Apply?"
    description="Showcase your project to a global AI audience, gain mentorship from top experts, and compete for a spot at GOSIM AI Paris 2025 Demo Day. Selected teams receive travel grants, exclusive visibility, and access to a vibrant community of developers, collaborators, and contributors—all dedicated to advancing the open-source AI movement."
    cards={[
      {
        title: "Exclusive Showcase",
        description:
          "Present your project at a dedicated demo table to global AI leaders, developers, and enthusiasts.",
        image: "/icons/showcase.svg",
      },
      {
        title: "Travel Support",
        description:
          "Win grants covering travel and accommodation for project owners or reps.",
        image: "/icons/travel-support.svg",
      },
      {
        title: "Mentorship & Resources",
        description:
          "Receive guidance from top AI experts and spotlight judges committed to supporting selected projects.",
        image: "/icons/mentorship.svg",
      },
      {
        title: "Global Visibility",
        description:
          "Compete at Demo Day during GOSIM AI Paris 2025 for exposure to a global tech audience.",
        image: "/icons/global-visibility.svg",
      },
      {
        title: "Networking & Recognition",
        description:
          "Connect with mentors, collaborators, and industry leaders while gaining recognition in the AI community.",
        image: "/icons/networking-recognition.svg",
      },
      {
        title: "Community Growth",
        description:
          "Attract contributors and establish your project as a leader in the open-source AI ecosystem.",
        image: "/icons/community-growth.svg",
      },
    ]}
  />
  <GetTickets
    title="Now accepting applications!"
    text="Know an AI project that deserves recognition? Don't wait - nominate it today and help us shine a spotlight on its potential. Or apply with your own project. Here are the important dates:"
    ctaButton={{
      text: "Nominate Project",
      link: "",
      openInNewTab: true,
    }}
  />
</Layout>
