---
// Components
import Layout from "layouts/Layout.astro";
import Content from "markdown/Privacy.md";
---

<Layout
    title="Privacy – GOSIM Spotlight Hangzhou 2025"
    description="Privacy – GOSIM Spotlight Hangzhou 2025"
    navBackground="light"
    pageTransitionName="Privacy"
>
    <section
        class="section speaker-detail-header"
        data-theme-section="light"
        data-bg-section="light"
    >
        <div class="gradient-circle-wrap">
            <div class="gradient-circle"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-markdown">
                    <Content />
                </div>
            </div>
        </div>
    </section>
</Layout>
